.gallery-section {
margin-top:5vh;
 display:flex;
}
.gallery {
    width: 40vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
  }
  
  .gallery-container {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }
  
  .gallery-container img {
    width: 20%;
    height: 100%;
    object-fit: cover;
  } 
  
  .prev-btn, .next-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev-btn {
  }
  
  .next-btn {
  }
  